header {
    @extend %d-flex;
    justify-content: space-between;
    padding: 3% 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $primary-color;
    border-bottom: .1rem solid $neutral-color;
    z-index: 10;
    
    .logo {
        
        div {
            background-color: $neutral-color;
            padding: .1rem .2rem;
            border-radius: .2rem;
            color: $primary-color;
            display: inline-block;
        }
        
        p {
            display: inline-block;
            color: $neutral-color;
            font-style: italic;
        }
    }
    
    .menu-btn {
        cursor: pointer;
        @extend %d-flex;
        justify-content: center;
        flex-direction: column;
        gap: 3px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        transition: transform .2s ease;
        
        &_burger {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $neutral-color;
        }
    }

    .open {
        transform: rotate(90deg);
    }
    
    .navbar {
        display: none;
    }
}