.main-content {

    .main-header {
        height: 100vh;
        width: 100% !important;
        background: linear-gradient(to bottom,
                rgba($dark-color, 0.9),
                rgba($dark-color, 0.3)),
            url(../image/Hotel/img5.jpeg);
        background-size: 100% 100%;
        @extend %d-flex;
        justify-content: center;
        flex-direction: column;
        color: $neutral-color;
        text-align: left;

        &_p {
            text-align: left;
        }

        &_btn {
            font-size: .6rem;

            .main-header_button {
                background: $neutral-color;
                color: black;
            }
        }
    }

    .main-container1 {
        padding: 2rem 1rem;
    }

    .main-container2_img {
        height: 15rem;
        background-image: url(../image/img2.jpeg);
        background-size: cover;
    }

    .main-container3_btn {
        margin: 1rem 0rem;
        font-size: .6rem;
        display: grid;
        place-content: center;
        transform: scale(1, 1);
        animation-name: button;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }

    .main-container4 {

        &_box {
            height: 13rem;
            border-radius: .3rem;
            background: linear-gradient(to bottom,
                    rgba($dark-color, 0.3),
                    rgba($dark-color, 1.0)),
                url(../image/Bedroom/img11.jpeg);
            background-size: 100% 100%;
            padding: 10.5rem 1rem 0rem;
            color: $neutral-color;
            margin-top: 1.5rem;
        }

        .container4_box2 {
            background: linear-gradient(to bottom,
                    rgba($dark-color, 0.3),
                    rgba($dark-color, 1.0)),
                url(../image/Bedroom/img8.jpeg);
            background-size: 100% 100%;
            margin-top: .3rem;
        }

        .container4_box3 {
            background: linear-gradient(to bottom,
                    rgba($dark-color, 0.3),
                    rgba($dark-color, 1.0)),
                url(../image/Bedroom/img7.jpeg);
            background-size: 100% 100%;
            margin-top: .3rem;
        }

        .container4_box4 {
            background: linear-gradient(to bottom,
                    rgba($dark-color, 0.3),
                    rgba($dark-color, 1.0)),
                url(../image/Bedroom/img12.jpeg);
            background-size: 100% 100%;
            margin-top: .3rem;
        }

        .container4_box5 {
            background: linear-gradient(to bottom,
                    rgba($dark-color, 0.3),
                    rgba($dark-color, 1.0)),
                url(../image/Bedroom/img18.jpg);
            background-size: 100% 100%;
            margin-top: .3rem;
        }

        .container4_box6 {
            background: linear-gradient(to bottom,
                    rgba($dark-color, 0.3),
                    rgba($dark-color, 1.0)),
                url(../image/Bedroom/img13.jpeg);
            background-size: 100% 100%;
            margin-top: .3rem;
        }
    }

    .main-container5 {

        &_box {
            background-color: $white-color;
            padding: 1rem;
            border-radius: .3rem;

            .main-container5_img {
                background-image: url(../image/img4.jpeg);
                background-size: 100% 100%;
                height: 10rem;
            }

            .container5_img2 {
                background-image: url(../image/img5.jpeg);
            }

            .container5_img3 {
                background-image: url(../image/img6.jpeg);
            }

            .main-container5_btn {
                margin-top: 1.5rem;
                font-size: .6rem;
                display: grid;
                place-content: center;
                transform: scale(1, 1);
                animation-name: button;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
            }
        }
    }

    .main-container6_content {
        padding: .5rem 1rem;
        border-radius: .5rem;
        border-top: .2rem solid $contrast-color;
        background-color: $white-color;

        .main-container6_btn {
            font-size: .6rem;
            display: grid;
            place-content: center;
            transform: scale(1, 1);
            animation-name: button;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
        }
    }
}